.container {
    width: 500px;
    height: 100px;
    background: papayawhip;
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.container:hover .box {
    transform: scale(1.2);
    transform: rotate(45deg);
}


.box {
    width: 100px;
    height: 100px;
}

.box1 {
    background: salmon;
    transition: transform 0.3s;
}

.box2 {
    background: darksalmon;
    transition: transform 0.6s;
}

.box3 {
    background: red;
    transition: transform 0.9s;
}